---
title: 'Gallery| Falkirk Thai Massage'
description: 'Meet Lyn, our expert Thai massage therapist in Falkirk. With extensive training and experience in traditional Thai massage techniques, Lin helps restore balance and vitality.'
permalink: gallery/
eleventyNavigation:
    key: Gallery
    order: 400

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}


  <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1086">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Falkirk Thai Massage</h2>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-1.webp" alt="massage room" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-2.webp" alt="massage bed" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-3.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-3.webp" alt="shop" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-4.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-4.webp" alt="owner" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-5.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-5.webp" alt="reception" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-6.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-6.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-6.webp" alt="massage bed" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture7">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gal-7.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gal-7.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gal-7.webp" alt="shower" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture8">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="/assets/images/gal-8.webp">
               <!--Tablet and above Image-->
               <source media="(min-width: 601px)" srcset="/assets/images/gal-8.webp">
               <img loading="lazy" decoding="async" src="/assets/images/gal-8.webp" alt="treatment room" width="345" height="345">
            </picture>
        </div>
    </div>
</section>
                                

{% endblock %}