/*-- -------------------------- -->
<---       Why choose 687       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #process-687 {
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: .8;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            column-gap: (20/16rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
        }

        .cs-picture {
            width: (100/16rem);
            height: (100/16rem);
            margin: auto;
            margin-bottom: (24/16rem);
            background-color: #fdfaf8;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: auto;
            height: (38/16rem);
            display: block;
            fill: var(--primary);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            font-weight: 700;
            margin: 0;
            margin-bottom: (12/16rem);
            color: #fff;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.02;
            /* Makes img tag act as a background image */
            object-fit: cover;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #process-687 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #process-687 {
            background-color: #1a1a1a;
        }
    }
}
                                
/*-- -------------------------- -->
<---       Services 2129        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2129 {
        padding: var(--sectionPadding);
        position: relative;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            row-gap: (24/16rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .3;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            margin-bottom: (12/16rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2129 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 3;
        }

        .cs-picture {
            /* 180px - 340px */
            height: clamp(11.25rem, 22.5vw, 21.25rem);
            margin-bottom: (24/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-2129 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: .8;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-icon {
            /* 30px - 40px */
            width: clamp(1.875rem, 4vw, 2.5rem);
            height: auto;
            margin: 0 0 (32/16rem) 0;
            display: block;
            /* changes svg icon color */
            fill: var(--primary);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (24/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (48/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            &:before {
                content: "";
                width: (8/16rem);
                height: 1px;
                background: currentColor;
                display: block;
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48.5%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-727 {
            .cs-topper,
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---        Reviews 1673        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1673 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: (52/16rem);
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
            /* changes quote svg color */
            fill: #e8e8e8;
        }

        .cs-background {
            display: none;
            position: absolute;
            left: 50%;
            /* changes to 40px at 1300px */
            right: (16/16rem);
            top: (40/16rem);
            bottom: (40/16rem);
            z-index: -1;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover; 
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1673 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-background {
            display: block;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1673 {
        .cs-background {
            right: (40/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1673 {
            .cs-title,
            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }

            .cs-quote {
                opacity: 0.2;
            }
        }
    }
}
                                

                                

                                
                                
                                
                                